<div class="flex justify-center items-center h-screen">
  <div class="w-3/5">
    @if (!isSuccessful) {
    <form
      name="form"
      (ngSubmit)="f.form.valid && register()"
      #f="ngForm"
      novalidate
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <img src="/assets/logo.png" class="w-10 mx-auto">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
        <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="username"
          [(ngModel)]="registerDetails.name"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          [ngClass]="{ 'border-red-500': f.submitted && username.errors }"
        />
        @if (username.errors && f.submitted) {
        <div class="text-red-500 text-xs italic">
          @if (username.errors['required']) {
          <div>Username is required</div>
          }
          @if (username.errors['minlength']) {
          <div>Username must be at least 3 characters</div>
          }
          @if (username.errors['maxlength']) {
          <div>Username must be at most 20 characters</div>
          }
        </div>
        }
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input
          type="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="email"
          [(ngModel)]="registerDetails.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'border-red-500': f.submitted && email.errors }"
        />
        @if (email.errors && f.submitted) {
        <div class="text-red-500 text-xs italic">
          @if (email.errors['required']) {
          <div>Email is required</div>
          }
          @if (email.errors['email']) {
          <div>Email must be a valid email address</div>
          }
        </div>
        }
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
        <input
          type="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="password"
          [(ngModel)]="registerDetails.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'border-red-500': f.submitted && password.errors }"
        />
        @if (password.errors && f.submitted) {
        <div class="text-red-500 text-xs italic">
          @if (password.errors['required']) {
          <div>Password is required</div>
          }
          @if (password.errors['minlength']) {
          <div>Password must be at least 6 characters</div>
          }
        </div>
        }
      </div>
      <div class="mb-4">
        <label for="password_confirmation" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
        <input
          type="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="password_confirmation"
          [(ngModel)]="registerDetails.password_confirmation"
          required
          minlength="6"
          #password_confirmation="ngModel"
          [ngClass]="{ 'border-red-500': f.submitted && password_confirmation.errors }"
        />
        @if (password_confirmation.errors && f.submitted) {
        <div class="text-red-500 text-xs italic">
          @if (password_confirmation.errors['required']) {
          <div>Password confirmation is required</div>
          }
          @if (password_confirmation.errors['minlength']) {
          <div>Password confirmation must be at least 6 characters</div>
          }
        </div>
        }
      </div>
      <div class="flex items-center justify-between mb-4">
        <button class="bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Sign Up</button>
      </div>

      @if (f.submitted && isSignUpFailed) {
      <div class="text-red-500 text-xs italic">
        Signup failed! {{ errorMessage }}
      </div>
      }
    </form>
    } @else {
    <div class="text-green-500 text-xs italic">Your registration is successful!</div>
    }
  </div>
</div>
