<div class="bg-white rounded-md overflow-hidden relative flex flex-col sm:flex-row justify-center mt-12 mb-12">
    @if (recipe) {
        <div class="bg-white rounded-md overflow-hidden relative shadow-md flex flex-col sm:flex-row justify-center mt-8 mb-8">
            <div class="sm:w-1/2">
              <img class="mx-auto sm:mr-4 sm:ml-0 mb-4 sm:mb-0" [src]="recipe.recipe.image" alt="Recipe image">
        </div>
        <div class="p-4">
          <h3 class="text-xl text-black">{{ recipe.recipe.label }}</h3>
          <div class="flex justify-between mt-2 mb-2 text-gray-500"> 
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="ml-2 text-sm lg:text-base">{{ recipe.recipe.totalTime }} min</span>
            </div>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd" />
              </svg>
              <span class="ml-1 text-sm lg:text-base">{{ recipe.recipe.length }}</span> 
            </div>
          </div>
          <ul>
            @for (ingredientLine of recipe.recipe.ingredientLines; track ingredientLine) {
              <li>{{ ingredientLine }}</li>
            }
          </ul>
          <a href="{{ recipe.recipe.url }}">
            <button class="text-white bg-black p-2 rounded-md w-full uppercase text-sm lg:text-base">View Recipe</button>
          </a>
        </div>
      </div>
    }
  </div>
  